<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title></title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<div th:replace="fragments::header"></div>
		<main class="container">
			<form th:method="${postagem} == null ? 'post' : 'put'" th:action="${postagem} == null ? '/postagens' : '/postagens/'+${postagem.id}">
			<div class="input-field">
				<label for="titulo">Título</label>
				<input type="text" name="titulo" th:value="${postagem?.titulo}" id="titulo">
			</div>

			<div class="input-field">
				<label for="conteudo">Conteúdo</label>
				<textarea name="conteudo" id="conteudo" class="materialize-textarea" th:text="${postagem?.conteudo}"></textarea>
			</div>

			<button type="submit" class="btn waves-effect waves-light" >Postar</button>
		</form>
		</main>
		<div th:replace="fragments::footer"></div>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script th:src="@{/js/main.js}"></script>
	
	</body>
</html>
