<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title></title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>
	<body>
		<div th:replace="fragments::header"></div>
		<main class="container">
			<div th:each="postagem : ${postagens}" class="row">
				<div class="col s12 m7">
					<div class="card">
						<div class="card-image">
							<img th:src="@{/img/mine.jpeg}">
							<span th:text="${postagem.titulo}" class="card-title"></span>
						</div>
						<div class="card-content">
							<p th:text="${postagem.conteudo}">
							</p>
						</div>
						<div class="card-action"> 
							<a href="#">This is a link</a> 
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-action-btn">
				<a href="/postagens/nova" class="btn-floating btn-large waves-effect waves-light red"> 
					<i class="material-icons">add</i>
				</a> 
			</div>
		</main>
		
<div th:replace="fragments::footer">

</div>

	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script th:src="@{/js/main.js}"></script>
	</body>
</html>
